body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    display: block;
    z-index: 0;

    /* how do you center a div lmao */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    text-align: justify;
    font-family: monospace;

    /* cutout effect */
    color: white;
    background-color: black;
    mix-blend-mode: multiply;
}
